body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
h1 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.movie {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    width: 200px;
    text-align: center;
    overflow: hidden;
}
.movie img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}
.movie h2 {
    font-size: 18px;
    margin: 15px 0;
    color: #333;
    padding: 0 10px;
}
.movie p {
    font-size: 14px;
    color: #666;
    padding: 0 10px 15px;
}